{{ block "home" .}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <script src="https://unpkg.com/htmx.org@2.0.2"
        integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ"
        crossorigin="anonymous"></script>
    <script>
        document.addEventListener("DOMContentLoaded", (event) => {
            document.body.addEventListener('htmx:beforeSwap', function (evt) {
                if (evt.detail.xhr.status === 204) {
                    // allow 204 responses to swap as we are using this as a signal that
                    // contact delete was successful

                    // set isError to false to avoid error logging in console
                    evt.detail.shouldSwap = true;
                    evt.detail.isError = false;
                }
            });
        });
    </script>
</head>

<body>
    {{ template "app-bar" . }}
    {{ template "transaction-display" . }}
</body>

</html>
{{ end }}

{{ block "transaction-display" . }}
<table id="transaction-table" ;">
    <thead>
        <tr>
            <th>Transaction</th>
            <th>Amount</th>
            <th>Type</th>
            <th>Note</th>
        </tr>
    </thead>
    <tbody>
        {{ range .Transactions }}
        {{ template "transaction-list" . }}
        {{ end }}
    </tbody>
</table>
{{ end }}

{{ block "transaction-list" . }}
<tr>
    <td>{{ .Name }}</td>
    <td>{{ .Amount }}</td>
    <td>{{ .TransactionType }}</td>
    <td>{{ .Note }}</td>
</tr>
{{ end }}

{{ block "transaction-list-oob" . }}
<tbody hx-swap-oob="beforeend:#transaction-table tbody">
    <tr>
        <td>{{ .Name }}</td>
        <td>{{ .Amount }}</td>
        <td>{{ .TransactionType }}</td>
        <td>{{ .Note }}</td>
    </tr>
</tbody>
{{ end }}
