{{ block "home" .}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <script src="https://unpkg.com/htmx.org@2.0.2"
        integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ"
        crossorigin="anonymous"></script>
</head>

<body>
    <h2>Welcome to the expenser application</h2>
    {{ template "transaction-form" . }}
    <hr />
    {{ template "transaction-display" . }}
</body>

</html>
{{ end }}

{{ block "transaction-form" .}}
<form hx-post="/transaction" hx-target="#transaction-table tbody" hx-swap="beforeend">
    <input type="text" name="name" placeholder="Name" required>
    <input type="text" name="amount" placeholder="Amount" required>
    <select name="type" hx-target="this" required>
        {{ template "transaction-type-options" .TransactionTypes }}
    </select>
    <input type="text" name="note" placeholder="Note">
    <input type="submit" value="Add Transaction">
</form>
{{ end }}

{{ block "transaction-type-options" . }}
<option disabled selected value="">Select Transaction Type</option>

{{ range . }}

{{ if .Name }}
<option value="{{ .Name }}">{{ .Name }}</option>
{{ end }}

{{ end }}

{{ end }}

{{ block "transaction-display" . }}
<table id="transaction-table">
    <thead>
        <tr>
            <th>Transaction</th>
            <th>Amount</th>
            <th>Type</th>
            <th>Note</th>
        </tr>
    </thead>
    <tbody>
        {{ range .Transactions }}
        {{ template "transaction-list" . }}
        {{ end }}
    </tbody>
</table>
{{ end }}

{{ block "transaction-list" . }}
<tr>
    <td>{{ .Name }}</td>
    <td>{{ .Amount }}</td>
    <td>{{ .TransactionType }}</td>
    <td>{{ .Note }}</td>
</tr>
{{ end }}

{{ block "transaction-list-oob" . }}
<tbody hx-swap-oob="beforeend:#transaction-table tbody">
    <tr>
        <td>{{ .Name }}</td>
        <td>{{ .Amount }}</td>
        <td>{{ .TransactionType }}</td>
        <td>{{ .Note }}</td>
    </tr>
</tbody>
{{ end }}
