{{ block "transaction-display" . }}
<table id="transaction-table">
    <thead>
        <tr>
            <th>Transaction</th>
            <th>Amount</th>
            <th>Type</th>
            <th>Note</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {{ range .Transactions }}
        {{ template "transaction-list" . }}
        {{ end }}
    </tbody>
</table>
{{ end }}

{{ block "transaction-list" . }}
<tr class="transaction-list" id="transaction-list-div-{{ .Id }}">
    <td>{{ .Name }}</td>
    <td>{{ .Amount }}</td>
    <td>{{ .TransactionType }}</td>
    <td>{{ .Note }}</td>
    <td>
        <div hx-target="#transaction-list-div-{{ .Id }}" hx-swap="outerHTML swap:1000ms"
            hx-delete="/transaction/{{ .Id }}" style="width: 1rem; cursor: pointer;">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path fill="none" d="M0 0h24v24H0z" />
                <path
                    d="M4 2h16a1 1 0 011 1v1a1 1 0 01-1 1H4a1 1 0 01-1-1V3a1 1 0 011-1zM3 6h18v16a1 1 0 01-1 1H4a1 1 0 01-1-1V6zm3 3v9a1 1 0 002 0v-9a1 1 0 00-2 0zm5 0v9a1 1 0 002 0v-9a1 1 0 00-2 0zm5 0v9a1 1 0 002 0v-9a1 1 0 00-2 0z" />
            </svg>
        </div>
    </td>
</tr>
{{ end }}

{{ block "transaction-list-oob" . }}
<tbody hx-swap-oob="beforeend:#transaction-table tbody">
    <tr class="transaction-list" id="transaction-list-div-{{ .Id }}">
        <td>{{ .Name }}</td>
        <td>{{ .Amount }}</td>
        <td>{{ .TransactionType }}</td>
        <td>{{ .Note }}</td>
        <td>
            <div hx-target="#transaction-div-{{ .Id }}" hx-swap="outerHTML swap:1000ms"
                hx-delete="/transaction/{{ .Id }}" style="width: 1rem; cursor: pointer;">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path fill="none" d="M0 0h24v24H0z" />
                    <path
                        d="M4 2h16a1 1 0 011 1v1a1 1 0 01-1 1H4a1 1 0 01-1-1V3a1 1 0 011-1zM3 6h18v16a1 1 0 01-1 1H4a1 1 0 01-1-1V6zm3 3v9a1 1 0 002 0v-9a1 1 0 00-2 0zm5 0v9a1 1 0 002 0v-9a1 1 0 00-2 0zm5 0v9a1 1 0 002 0v-9a1 1 0 00-2 0z" />
                </svg>
            </div>
        </td>
    </tr>
</tbody>
{{ end }}
