{{ block "transaction-create" .}}
{{ template "app-bar" . }}
{{ template "transaction-form" . }}
{{ template "transaction-display" . }}
</body>

</html>
{{ end }}

{{ block "transaction-form" .}}
<form hx-post="/transaction" hx-target="#transaction-table tbody" hx-swap="beforeend" confirm-with-sweet-alert="create">
    <h2>Create Transaction</h2>
    <input type="text" name="name" placeholder="Name" required>
    <input type="text" name="amount" placeholder="Amount" required>
    <div class="type-group">
        <select name="type" hx-target="this" required>
            {{ template "transaction-type-options" .TransactionTypes }}
        </select>
        <a href="/type" class="navigate-link">Create
            Transaction Type</a>
    </div>
    <input type="text" name="date" onfocus="(this.type='date')"
        onblur="this.type='text'; this.value = this.value.split('-').reverse().join('/')" placeholder="Date" required>
    <input type="text" name="note" placeholder="Note">
    <input type="submit" value="Add Transaction">
</form>
{{ end }}

{{ block "transaction-type-options" . }}
<option disabled selected value="">Select Transaction Type</option>

{{ range . }}

{{ if .Name }}
<option value="{{ .Name }}">{{ .Name }}</option>
{{ end }}

{{ end }}

{{ end }}
