{{ block "transaction-display" . }}
<table id="transaction-table">
    <thead>
        <tr>
            <th>Transaction</th>
            <th>Amount</th>
            <th>Type</th>
            <th>Date</th>
            <th>Note</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {{ range .Transactions }}
        {{ template "transaction-list" . }}
        {{ end }}
    </tbody>
</table>
{{ end }}

{{ block "transaction-list" . }}
<tr class="transaction-list" id="transaction-list-div-{{ .ID}}">
    <td>{{ .Name }}</td>
    <td>{{ .Amount }}</td>
    <td>{{ .TransactionType}}</td>
    <td>{{ .Date }}</td>
    <td>{{ .Note }}</td>
    <td>
        <div hx-target="#transaction-list-div-{{ .ID }}" hx-swap="outerHTML swap:1000ms"
            hx-delete="/transaction/{{ .ID }}" style="width: 1rem; cursor: pointer;" confirm-with-sweet-alert='delete'>
            {{ template "delete-icon" . }}
        </div>
    </td>
</tr>
{{ end }}

{{ block "transaction-list-oob" . }}
<tbody hx-swap-oob="beforeend:#transaction-table tbody">
    <tr class="transaction-list" id="transaction-list-div-{{ .ID }}">
        <td>{{ .Name }}</td>
        <td>{{ .Amount }}</td>
        <td>{{ .TransactionType }}</td>
        <td>{{ .Date }}</td>
        <td>{{ .Note }}</td>
        <td>
            <div hx-target="#transaction-div-{{ .ID }}" hx-swap="outerHTML swap:1000ms"
                hx-delete="/transaction/{{ .ID }}" style="width: 1rem; cursor: pointer;">
                {{ template "delete-icon" . }}
            </div>
        </td>
    </tr>
</tbody>
{{ end }}
