body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
}

h2 {
    margin: inherit;
}

h1 {
    color: #2c3e50;
    text-align: center;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

form select,
form a,
form input {
    margin-bottom: 10px;
}

form input[type="date"]:focus {
    text-transform: uppercase;
}

select,
a,
input[type="date"],
input[type="text"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

a,
input[type="submit"] {
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

a:hover,
input[type="submit"]:hover {
    background-color: #2980b9;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

th,
td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #3498db;
    color: white;
}

tr:hover {
    background-color: #f5f5f5;
}

.type-group {
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
    display: flex;
}

.type-group select {
    margin-bottom: 0px;
    margin-right: 1rem;
}

.type-group a {
    margin-bottom: 0px;
    text-decoration: none;
    width: fit-content;
    text-wrap: nowrap;
}

.app-bar {
    margin-bottom: 10px;
    background-color: #3498db;
    color: white;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app-name {
    font-size: 1.5rem;
    font-weight: bold;
}

.app-name a {
    color: white;
    text-decoration: none;
}

.app-name a:hover {
    text-decoration: none;
}

.app-actions {
    display: flex;
    align-items: center;
}

.add-transaction-link {
    background-color: #2980b9;
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.add-transaction-link:hover {
    background-color: #2573a7;
}

.profile-icon {
    width: 32px;
    height: 32px;
    background-color: #ecf0f1;
    border-radius: 50%;
}

.transaction-type-list.htmx-swapping,
.transaction-list.htmx-swapping {
    opacity: 0;
    transition: opacity 500ms ease-in;
}
